<a href="https://colab.research.google.com/github/Rathinasabapathi197/Data-Science/blob/main/PSES_june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Agenda :
introduction
printing pattern in python
data types
looping
conditional operator
'''

'\nAgenda :\nintroduction \nprinting pattern in python \ndata types \nlooping \nconditional operator \n'

In [ ]:
Introduction
Python
scriptive type language
its easy to implement
father of python - Guido von Rossum
scripts

In [ ]:
print("Guvi Geeks ")

Guvi Geeks

In [ ]:
print("I am having a pen that i will be using to write my exams ")

I am having a pen that i will be using to write my exams

In [ ]:
data = input ()

Anant tyagi

In [ ]:
print(data)

Anant tyagi

In [ ]:
print(data[0])

A

In [ ]:
print(data[10])

i

In [ ]:
print(data)

Anant tyagi

In [ ]:
print(data[0:4])

Anan

In [ ]:
print(data[-1])

i

In [ ]:
print(data[-2])

g

In [ ]:
print(data[0:-1])

Anant tyag

In [ ]:
print(data[8: -1 ])

ag

In [ ]:
print(data[5:-3])

 ty

In [ ]:
print(data[3:-3])

nt ty

In [ ]:
name = "ANKIT"
# i want to show KIT as output
print(name[2:])

KIT

In [ ]:
print(name[3:-3])

In [ ]:
name

'ANKIT'

In [ ]:
type(name)

str

In [ ]:
age =12

In [ ]:
type(age)

int

In [ ]:
basket - we can store fruits , but we cannot store water

glass - i can store water , milk , juices , but not gases

python
when it comes to store data

data is also having multiple types

str (string ) = name , characters or combination of alphanumeric characters

int ( integer ) = numbers ( .....-3,-2,-1, 0, 1,2,3,4, ....


float ( fractional value ) = 0.314 , 2.25 , 7.5

        Date =    Date
        Boolean = True , False

In [ ]:
name = input()

print(name)
print(type(name))

lokesh
lokesh
<class 'str'>

In [ ]:
age = int(input())

print(age)
print(type(age))

12
12
<class 'int'>

In [ ]:
# i have to take input name and age and i have to print
# output : hello name ,your age is ___ , glad to meet you .

name = input("enter your name :")
age = int(input("enter your age :"))

print("Hello",name,",your age is ",age,",Glad to meet you !")

enter your name :Ankita
enter your age :15
Hello Ankita  ,your age is  15 ,Glad to meet you !

In [ ]:
# if age > 18 , print please use your vote wisely
if age <18 , print you are not allowed to vote , please wait for years 18- age

In [ ]:
name = input("enter your name :")
age = int(input("enter your age :"))

print("Hello",name,",your age is ",age,",Glad to meet you !")
if age>=18:
  print("Hey! you are allowed to vote , please use it wisely ")
else:
  print("You are not allowed to vote , kindly wait for :" ,18-age, "years")
print("Thank you ")

enter your name :Anant
enter your age :25
Hello Anant ,your age is  25 ,Glad to meet you !
Hey! you are allowed to vote , please use it wisely
Thank you

Task : take a number as input from user and print weather it is even or odd

In [ ]:
n = int(input())

if n%2==0:
  print("Even")
else:
  print("Odd")

88
Even

In [ ]:
salary as input , he can purchase only 1 vehicle
if salary >500000 :he will purchase car
if salary>3 lakh: he will puchase bike
if salary is >1 lakh : he will buy  a scooty
if salary >50000 , he will use public buses
otherwise : kindly go by walk

In [ ]:
salary = int(input())
if salary>500000 :
  print("purchase a car")
elif salary >300000:
  print("purchase a bike")
elif salary >100000:
  print("purchase a scooty")
elif salary>50000:
  print("kindly use public vehicle (buses)")
else :
  print("kindly go by walk")

600000
purchase a car

In [ ]:
you have to take input a, b,c
weather is it satisfying a^2 + b^2 is equal or greater than or less than c^2

if a^2 + b^2 is EQUAL = ITS RIGHT ANDLED TRIANGLE
IF a^2 + b^2 is LESS = ACUTE ANGLE TRIANGLE
a^2 + b^2 is GRETER = OBTUSE angle triangle

SyntaxError: invalid syntax (<ipython-input-53-2457fb6743b2>, line 1)

In [ ]:
a=int(input())
b=int(input())
c=int(input())
sumofsq=(a*a)+(b*b)
sq=c*c
if(sumofsq==sq):
    print("It is a right angled triangle.")
elif(sumofsq<sq):
    print("It is an acute angled triangle.")
else:
    print("It is an obtuse angled traingle.")

4
3
5
It is a right angled triangle.

In [ ]:
n = "lokesh"

In [ ]:
n =123

In [ ]:
print(n)

123

In [ ]:
print("your age is ",n)

your age is  123

In [ ]:
print(f"your age is {n} ")

your age is 123

In [ ]:
number %2=0: assignment operator
number%2==0 : comparison

In [ ]:
fundamental data type
str
int
float
bool

In [ ]:
user defined data type
list
dictionary
tuple
set

In [ ]:
# List
# it is a collection of multiple data elements  , that data can be of any type

data = []

data = ["Monica", "Dhanya", 1234,3.14, True, False]

In [ ]:
data

['Monica', 'Dhanya', 1234, 3.14, True, False]

In [ ]:
type(data)

list

In [ ]:
data[0]

'Monica'

In [ ]:
type(data[0])

str

In [ ]:
Example : class :
          students

In [ ]:
#Dictionary

mydata = {"name" : "Laxmi" , "age" :  12, "clas" : 12 }

In [ ]:
mydata

{'name': 'Laxmi', 'age': 12, 'clas': 12}

In [ ]:
mydata[0]

KeyError: 0

In [ ]:
mydata["name"]

'Laxmi'

In [ ]:
mydata["age"]

12

In [ ]:
type(mydata["age"])

int

In [ ]:
#Tuple

d = ( "a","b","c","d")

In [ ]:
type(d)

tuple

In [ ]:
d[0]

'a'

In [ ]:
d[1]

'b'

In [ ]:
d[3]

'd'

In [ ]:
d[2]

'c'

In [ ]:
list : it a collection of data
we can do modification in list
 [ ]

tuple : it is also collection of data
once defined , no changes allowed

dictionary : its a collection key value pair

In [ ]:
name = "suresh"

In [ ]:
name[0]

's'

In [ ]:
d=()

type(d)

tuple

In [ ]:
data =[1,2,3,4,5,6,7,8,9,10]

type(data)

list

In [ ]:
for ele in data :
  print("values are :",ele)
print("*")

values are : 1
values are : 2
values are : 3
values are : 4
values are : 5
values are : 6
values are : 7
values are : 8
values are : 9
values are : 10
*

In [ ]:
print("multiple of 4")
for ele in data :
  print("multiple of 4 :",4 * ele)

multiple of 4
multiple of 4 : 4
multiple of 4 : 8
multiple of 4 : 12
multiple of 4 : 16
multiple of 4 : 20
multiple of 4 : 24
multiple of 4 : 28
multiple of 4 : 32
multiple of 4 : 36
multiple of 4 : 40

In [ ]:
# input : 10 5 15 17 89 45
print sum of those values

In [ ]:
d = input()

print(d)

10 5 15 17 89 45
10 5 15 17 89 45

In [ ]:
type(d)

str

In [ ]:
data = d.split()

In [ ]:
data

['10', '5', '15', '17', '89', '45']

In [ ]:
new_list =[]
for i in data:
  new_list.append(int(i))

In [ ]:
new_list

[10, 5, 15, 17, 89, 45]

In [ ]:
type(new_list[0])

int

In [ ]:
record = list(map(int , input().split()))

10 5 15 17 89 45

In [ ]:
record

[10, 5, 15, 17, 89, 45]

In [ ]:
sum(record)

181

In [ ]:
You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00

In [ ]:
P,T,R=map(float,input().split())
si = P*R*T /100
print(f"{si:.2f}")

1000 2 5
100.00

In [ ]:
Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [ ]:
number = list(map(int,list(input())))
even_list=[]
odd_list = []
for i in number :
  if i % 2 ==0:
    even_list.append(i)
  else:
    odd_list.append(i)

print(*sorted(even_list))
print(*sorted(odd_list))

1234
2 4
1 3

In [ ]:
y = 10>5
print(y)

True

In [ ]:
type(y)

bool

In [ ]:
x='3.14'
type(x)

str

In [ ]:
a2=int(input())
print(a2)

1234
1234

In [ ]:
m =[1,2,3,4,5,6,7]

In [ ]:
type(m)

list

In [ ]:
m.append(8)

In [ ]:
m

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
m.pop(1)

2

In [ ]:
m

[1, 3, 4, 5, 6, 7, 8]

In [ ]:
# on list we can do insertion and deletion
# list are mutable ( changeable) - insertion and deletion are aplicable

In [ ]:
t= (1,2,3,4,5,6,7)

In [ ]:
t.pop(1)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# in a tuple no record can be inserted once its defined
# tuple is immutable ( not changeable )

In [ ]:
d =  {"a":10,"b":15,"c":12}

In [ ]:
d["a"]

10

In [ ]:
# Set
# it is collection of unique elements

In [ ]:
l= [1,2,3,4,5,6,7,1,1,1,1,1,1,1,2,2,2,2,2,2]

In [ ]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2]

In [ ]:
s = {1, 2, 3, 4, 5, 6, 7, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2}

print(s)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# take  a input from user and you have to show which character is present in that input with their count

Input : Raja Rahim

output : a:3 , j:1, h:1, i:1 , R:2, m: 1
Hint : use dictionary

In [1]:
name = input()
name = list(name)
d={}

for i in name:
  print(i, name.count(i))
  d[i] = name.count(i)
d

lokesh
l 1
o 1
k 1
e 1
s 1
h 1

{'l': 1, 'o': 1, 'k': 1, 'e': 1, 's': 1, 'h': 1}

In [ ]:
n ="lokesh kumar"
n.count("z")

0

In [ ]:
n

'lokesh kumar'

In [ ]:
list(n)

['l', 'o', 'k', 'e', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r']

In [ ]:
# problem on set

# there is a person who got multiple fruits in his basket ,
# now that person got confused about the fruits he have , you will assisting him to tell the different kind of fruits he have

p = ["apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple","apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple","apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple","apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple","apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple","apple", "banana","guava","apple", "pipeapple","watermelon", "banana","apple"]

# output = ["apple", "banana", "guava","pineapple", "watermelon"]

In [ ]:
p

['apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple',
 'apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple',
 'apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple',
 'apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple',
 'apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple',
 'apple',
 'banana',
 'guava',
 'apple',
 'pipeapple',
 'watermelon',
 'banana',
 'apple']

In [ ]:
s = set(p)

print(s)

{'pipeapple', 'guava', 'apple', 'banana', 'watermelon'}

In [ ]:
l = [1,2,3,4,5,6,8,9,0,111,1,1,1,1,1,1,1,1,1,1,1,1,1]
s= set(l)
print(s)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 111}

In [ ]:
s

{0, 1, 2, 3, 4, 5, 6, 8, 9, 111}

In [ ]:
x=3

if x :
  print("true")

true

In [ ]:
print(chr(70))
# to get equivalent ascii character

F

In [ ]:
print(ord("F"))
# to get equivalent ascii value

70

In [ ]:
# range

name ="lokesh"

for i in name :
  print(i)

l
o
k
e
s
h

In [ ]:
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(4,20, 3):
  print(i)

4
7
10
13
16
19

In [ ]:
name = "Monica"

print("Hello" , name)

Hello Monica

In [ ]:
print("Hello {}".format(name))

Hello Monica

In [ ]:
print(f"Hello {name}")

Hello Monica

In [ ]:
print("Hello %s "%name)

Hello Monica

In [ ]:
print("Hello "+name)

Hello Monica

In [ ]:
list = collection of elements  , it can have repeated values
set = collection of elements , it have only unique values

In [ ]:
k=[1,1,1,1,2,3,3,4,2,1,1,3,3,1]

k

[1, 1, 1, 1, 2, 3, 3, 4, 2, 1, 1, 3, 3, 1]

In [ ]:
s = {1,1,1,1,2,3,3,42,2,2,2,2,2,1,1}

s

{1, 2, 3, 42}

In [ ]:
Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [ ]:
data = list(map(int, input().split()))
# data =[2,3 ]
for i in range(data[1]):
  print(data[0])

2 3
2
2
2

In [ ]:
a,n =map(int,input().split())

for i in range(n):
  print(a)

2 3
2
2
2